@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #3a4044;
$secondary_color: #bdcee6;
$background: #f2f2f2;
$border: #3a4044;

$max_width: 1300px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top_1 {
	background-color: $secondary_color;
	.moduletable_to11 {
		font-size: 12px;
		p {
			margin: 0;
		}
		a {
			color: $primary_color;
		}
		a.button {
			margin: 0;
			padding: 10px 15px;
			background-color: $primary_color;
			border-radius: 0;
			font-size: 12px;
			color: #fff;
		}
	}
}

.top {
	padding: 15px 0;
	.moduletable_to1 {}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 26px;
	}
	h3 {
		font-size: 22px;
	}
	.asterisk {
		color: red;
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
		border-radius: 0;
	}
	&.full-width {
		padding: 0 0 30px 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding-bottom: 30px;
	.moduletable_b11 {
		h3 {
			margin: 0;
			padding-bottom: 10px;
			background: {
				image: url(h3_bg.png);
				position: bottom;
				repeat: no-repeat;
			}
			font: {
				size: 20px;
				weight: bold;
			}
		}
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 2 */

.block_2 {
	padding-bottom: 30px;
	.moduletable_b21 {
		h3 {
			margin: 0;
			padding-bottom: 10px;
			background: {
				image: url(h3_bg.png);
				position: bottom;
				repeat: no-repeat;
			}
			font: {
				size: 20px;
				weight: bold;
			}
		}
		a {
			color: $primary_color;
		}
		.max {
			max-width: $max_width;
			margin: auto;
		}
		.white {
			padding: 30px;
			color: #fff;
			a.button {
				margin: 0;
				padding: 5px 15px;
				border: {
					color: #fff;
					radius: 0;
				}
				color: #fff;
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 70px 0;
	background: {
		image: url(block_3_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b31 {
		h3 {
			font-size: 32px;
			color: #fff;
		}
		a.hollow.button {
			margin: 0;
			border: {
				color: #fff;
				radius: 0;
			}
			color: #fff;
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 30px 0;
	.moduletable_b41 {
		p {
			margin: 0;
		}
		a {
			padding: 0 20px;
			border-right: 1px solid $border;
			display: inline-block;
			&:last-child {
				border-right: 0;
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 20px 0;
	background-color: #3a4044;
	.moduletable_bo1 {
		color: #fff;
		p {
			margin: 0;
		}
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 20px;
	background-color: #3a4044;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top_1 {
		.moduletable_to11 {
			.panel-grid-cell {
				margin-bottom: 10px !important;
			}
		}
	}

	/* Content */

	.content {
		h1,
		h2,
		h3 {
			border-bottom: 1px solid $border;
		}
	}

	/* Block 3 */

	.block_3 {
		padding: 30px 0;
		.moduletable_b31 {
			text-align: center;
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}